.home_box {
  img {
    width: 200px;
    height: 200px;
  }
}

.home_section {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/svg/homesvg.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .home_div {
    overflow: hidden;
    height: 100vh;
    padding: 2rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

.home_text_div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
  gap: 1rem;
  h1 {
    font-weight: bolder;
    font-size: 80px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }
  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.home_img_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 544px;
  height: 554px;
  border-radius: 15px;

  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.view_pro_svg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;

  .svg_center_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-weight: 700;
    }
  }
}

.home_sec_div {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    padding-bottom: 3rem;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
  }

  .gg {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    gap: 2.5rem;
  }
  .home_box {
    a {
      text-decoration: none;
      color: black;
    }
    border: 1px solid black;
    padding: 0.55rem;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.card_img {
  img {
    border-radius: 5px;
  }
}

.cardtitle_div {
  display: flex;
  padding-left: 1rem;

  p {
    font-weight: bold;
  }
}
.price_div {
  display: flex;
  align-items: center;
  gap: 0.22rem;
  padding-left: 1rem;
  p {
    font-weight: bold;
  }
  span {
    color: rgb(0, 0, 0);
  }
}
