.single_section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  background-image: url(../../assets/svg/homesvgtwo.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .single_main_div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    .single_one {
      display: flex;
      align-items: center;
      justify-content: center;
      .single_img_div {
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        img {
          width: 100%;
          border-radius: 5px;
          height: 100%;
          display: flex;
          gap: 1rem;
        }
      }
    }
    .single_two {
      padding: 1rem 4rem;
      border-top: 1px solid grey;
      .single_product_detial_div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .detial_one {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          gap: 1.5rem;
          .mini {
            display: flex;
            align-items: center;
            gap: 0.55rem;
            h2 {
              font-size: 1.2rem;
            }
            h3 {
              font-size: 1rem;
              color: rgb(38, 38, 38);
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.big {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    text-align: start;
    width: 100%;
  }
  h3 {
    width: 90%;
  }
}
.detial_two {
  display: flex;
  align-items: center;
  justify-content: center;
  .two_center_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    gap: 0.55rem;
    .min {
      display: flex;
      height: 40px;
      width: 200px;

      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      h2 {
        font-size: 1rem;
      }
      .single_svg_div {
        display: flex;
        gap: 1rem;
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
.detial_three {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .three_center_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 5px;
    gap: 0.55rem;
    .im_iintrested_div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .in_button {
        button {
          background-color: black;
          color: white;
          padding: 1rem;
          border: none;
          border-radius: 5px;
        }
      }
      .in_contact {
        .mini {
          display: flex;
          align-items: center;
          gap: 0.55rem;
          h2 {
            font-size: 1.2rem;
          }
          h3 {
            font-size: 1rem;
            color: rgb(38, 38, 38);
            font-weight: 600;
          }
        }
      }
    }
  }
}

.hidden_seller_det {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
  border: 1px solid black;
  border-radius: 5px;
  .mini {
    display: flex;
    align-items: center;
    gap: 0.55rem;
    h2 {
      font-size: 1rem !important;
    }
    h3 {
      font-size: 1rem;
      color: rgb(38, 38, 38);
      font-weight: 600;
    }
  }
  .mail_button {
    background-color: black;
    color: white;
    padding: 0.55rem;
    border: none;
    border-radius: 5px;
    width: 100%;

    background-color: black;
    color: white;
  }
}

.single_login_div {
  display: flex;
  // width: 100%;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  justify-content: center;
  gap: 2rem;
  h6 {
    // width: 300px;
    font-size: 0.88rem;
  }
  a {
    padding-left: 1rem;
    text-decoration: none;
    color: rgb(255, 0, 0);
    span {
      font-weight: bold;
    }
  }
}
